h1 {
    font-size: 70px;
    text-align: center;
    margin: 0;
}
h4 {margin: 0; padding-right: 5px; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.flex-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}
.wrapper{
    margin-top: 100px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.wrapper-top,
.wrapper-bot{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.wrapper-mid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
}
.hw-inputs{
    margin-top: 10px;
}
.h-input,
.w-input{
    display: flex;
    margin-top: 15px;
}

#width,
#height{
    width: 30px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}
.cube{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}
.total-result{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
#btn{
    margin-right: 10px;
}